

@font-face {
    font-family: "Autography";
    src: url("../assets/fonts/Autography.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-script: "Autography", "Brush Script MT", cursive;
}